{% extends 'routes/base.html' %}
{% load static %}

{% block title %}Longest Route | Smith Colinas{% endblock %}

{% block hero_title %}Longest{% endblock %}
{% block hero_script %}Complete{% endblock %}
{% block hero_title_2 %}Route{% endblock %}

{% block hero_description %}
Find the longest complete route based on total duration.
{% endblock %}

{% block content %}

<h1>Longest Route</h1>

{% if longest %}

    <div class="result-card">

        <div class="path-container">

            {% for airport in longest.0 %}

                <span class="path-node">
                    {{ airport.code }}
                </span>

                {% if not forloop.last %}
                    <span class="path-arrow">→</span>
                {% endif %}

            {% endfor %}

        </div>

        <p>
            <span class="result-label">
                ROUTE DURATION
            </span>

            <span class="result-value">
                {{ longest.1 }} mins
            </span>
        </p>

    </div>

{% else %}

    <p>No route found.</p>

{% endif %}

{% endblock %}